.crousel{
    height: 100vh;
}
.bg-image{
    background-image: url('https://i.picsum.photos/id/319/1170/550.jpg?blur=2&hmac=5uZI8DIa8PnK3ltKbCWL7HcsKzOTWllaaj6HT2U95k8');
    background-repeat: no-repeat;
    background-size: cover;    
    background-position: center center;
    color: cyan;
    height: 100%;
    
    text-align: center;
    filter: blur(8px);
  -webkit-filter: blur(8px);
}
.bg-text{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}
